* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Removed . and changed to just Header to match HTML */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Consolidated all h1 class tags to one, removing un-needed */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Consolidated all h2 Class tags to one , removing un-needed */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Consolidated all h3 class tags to one, removing un-needed */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Added h4 to remove specificly changed h2 on Footer */
h4 {
    font-size: 20px;
}

/* Removed .header as not required */
.seo {
    color: #d9dcd6;
}

/* Name changed from header div to Nav */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* List style type moved into Nav & un-needed class for ul removed */

/* Name changed from header div to Nav */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidated all "benefit-???" into one class "benefit-background" */
.benefit-background {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated all "benefits-??? img" into one class referencing above consolidated class  */
.benefit-background img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Consolidated the 3 article background classes to "article-format */
.article-format {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidated all 3 specific img into 1 class matching above "article-format"  */
.article-format img {
    max-height: 200px;
}

/* Removed . to change to "Footer" matching HTML change */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}